
:root {
	--transparencycolor:			0,0,0;
	--transparencyalpha:			0.15;
	--messagetransparency:			0.5;
	--usechatbubbles: 				calc(var(--messagetransparency) / (var(--messagetransparency) + 0.00000000000000000000001));
	--guildchanneltransparency:		0.15;
	--chatinputtransparency:		0.0;
	--memberlisttransparency:		0.0;
	
	--background:					url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/_res/background.jpg);
	--backgroundposition:			center;
	--backgroundsize:				cover;
	--backgroundblur:				unset;
	
	--popout:						var(--background);
	--popoutposition:				var(--backgroundposition);
	--popoutsize:					var(--backgroundsize);
	--popoutblur:					var(--backgroundblur);
	
	--backdrop:						rgba(0,0,0,0.85);
	--backdropposition:				center;
	--backdropsize:					cover;
	--backdropblur:					unset;
}

/* ~~~~		0.		TABLE OF CONTENTS				~~~~ */
/*
	1.	TRANSPARENCY
	2.	BACKGROUND
	3.	TITLEBAR
	4.	GUILDLIST
	5.	CHANNELLIST
		1.	GUILDHEADER
		2.	CHANNELS
		3.	DMCHANNELS
		4.	ACCOUNT/VOICE/GOLIVE
	6.	CHAT
		1.	CHANNELHEADER
		2.	MESSAGES
			1.	MESSAGE
			2.	EMBEDS
			3.	NITROGIFT
			4.	INVITE
		3.	TEXTAREA
		4.	AUTOCOMPLETEMENU
		5.	MEMBERLIST
		6.	SEARCHPAGE
		7.	CHAT SIDEBAR
		8.	CALL
		9.	UNAVAILABLESCREEN
	7.	PEOPLES
	8.	STORE/NITRO
	9.	LIBRARY
	10.	DISCOVERY/UNIHUB
	11.	USERSETTINGS
	12.	GUILDSETTINGS
	13.	MODALS
		1.	USERMODAL
		2.	GUILDADD/CREATION
		3.	REGIONSELECTMODAL
		4.	UPLOADMODAL
		5.	KEYBOARDSHORTCUTSMODAL
		6.	QUICKSWITCHER
		7.	INVITEMODAL/GROUPCREATE
		8.	LOGINSCREEN
		9.	TERMACCEPTMODAL
		10.	DOWNLOADAPPMODAL
		11.	GUILDBOOSTMODAL
		12.	REACTIONSMODAL
		13.	GUILDWELCOMEMODAL
		14.	GUILDRULESMODAL
		15.	GUILDFEEDBACKMODAL
		16.	SCREENSHAREMODAL
		17.	PHONEVERIFICATIONMODAL
		18.	NOTIFICATIONSMODAL
		19.	DISCOVERYENTRYMODAL
		20.	NITROFEATUREMODAL
		21.	DIRECTORYMODAL
		22.	ACTIVITYSHAREMODAL
	14.	POPOUTS
		1.	CONTEXTMENU
		2.	USERPOPOUT
		3.	EMOJIPICKER
		4.	PINS/MENTIONS
		5.	SEARCHPOPOUT
		6.	COLORPICKER
		7.	ADDROLE
		8.	EVERYONEMENTION
		9.	CHANNELFOLLOW
		10.	CHANNELFOLLOWINFO
		11.	EMOJIINFO
		12.	STREAMPREVIEW
		13.	STREAMINFO
		14.	PUBLICGUILDANNOUNCEMENT
		15.	RTCSTATUSPOPOUT
		16.	PHONE-/EMAILVALIDATION
		17.	QUICKSELECTPOPOUT
		18.	WARNINGPOPOUT
		19.	ACTIVETHREADLISTPOPOUT
		20.	ROLEMEMBERSPOPOUT
		21.	FORUMFILTERPOPOUT
		22.	ACTIVITYSHAREPOPOUT
		23.	SOUNDBOARD
		24.	SERVERSURVEY
	15.	GENERAL
		1.	TEXT
		2.	BUTTONS
		3.	INPUTS
		4.	SEARCHBARS
		5.	TAGS
		6.	ICONS
		7.	SCROLLBARS
		8.	NOTIFICATIONBAR
		9.	TOOLTIPS
	16.	BDSUPPORT
	17.	POWERCORDSUPPORT
	18.	PLUGINSUPPORT
		1.	BDFDB
		2.	DATEVIEWER
		3.	MEMBERCOUNT
		4.	LINENUMBERS
		5.	PERMISSIONVIEWER
		6.	DIRECTDOWNLOAD
		7.	BETTERFORMATINGREDUX
		8.	CHANNELHISTORY
		9.	CHANNELTABS
		10.	TYPINGINDICATOR
		11.	BADGESEVERYWHERE
		12.	CHANNELDMS
	19.	UPDATENOTICE
	20.	WATERMARK
*/


/* ~~~~		1.		TRANSPARENCY					~~~~ */

body,														/* body														*/
#app-mount .app-3xd6d0,										/* app					container							*/
#app-mount .app-2CXKsg,										/* app					inner								*/
#app-mount .loading-1yrGTe,									/* app					i18n loading						*/
#app-mount .wrapper-3AZUiP,									/* app					errorscreen							*/
#app-mount .bg-1QIAus,										/* app					background							*/
#app-mount .layer-86YKbF,									/* layer				container							*/
#app-mount .container-2o3qEW,								/* layer				container							*/
#app-mount .container-1NXEtd,								/* channels				inner								*/
#app-mount .privateChannels-oVe7HL,							/* dmchannels												*/
#app-mount .panels-3wFtMD > *,								/* account/voice		inner								*/
#app-mount .chat-2ZfjoI,									/* chat					container							*/
#app-mount .container-3wLKDe,								/* chat					forums								*/
#app-mount .container-2IKOsH,								/* chat					search								*/
#app-mount .container-1um7CU,								/* chat					search inner						*/
#app-mount .container-3XgAHv,								/* chat					thread sidebar						*/
#app-mount .wrapper-3HVHpV,									/* chat					messages loading					*/
#app-mount .noChannel-Z1DQK7,								/* nochannel												*/
#app-mount .members-3WRCEx,									/* members													*/
#app-mount .members-3WRCEx > div,							/* members				content								*/
#app-mount .content-3_h0XI,									/* unavailable												*/
#app-mount .container-2cd8Mz,								/* peoples													*/
#app-mount .container-1oAagU,								/* peoples				activity list						*/
#app-mount .applicationStore-2nk7Lo,						/* nitro													*/
#app-mount .pageWrapper-2PwDoS,								/* guilddiscovery											*/
#app-mount .pageWrapper-1x6lGh,								/* unihub													*/
#app-mount .scrollerBase-1Pkza4,							/* scroller													*/
#app-mount .standardSidebarView-E9Pc3j,						/* settings													*/
#app-mount .contentRegion-3HkfJJ {							/* settings				content								*/
	background: transparent;
}

#app-mount .scroller-hE2gWq {								/* peoples				activity scroller					*/
	border: none;
}

#app-mount .sidebarRegion-1VBisG,							/* settings				sidebar								*/
#app-mount .sidebar-_0OpfR {								/* sidebarlist			sidebar								*/
	background-color: rgba(var(--transparencycolor), calc(0.2 * (var(--transparencyalpha) / (var(--transparencyalpha) + 0.00000000000000000000001))));
}

#app-mount {												/* app-mount												*/
	background-color: rgba(var(--transparencycolor), var(--transparencyalpha));
}
#app-mount .wrapper-1_HaEi {								/* guilds				container							*/
	background-color: rgba(var(--transparencycolor), calc(var(--guildchanneltransparency) * 2));
}
#app-mount .sidebar-1tnWFu {								/* channels				container							*/
	background-color: rgba(var(--transparencycolor), var(--guildchanneltransparency));
}
#app-mount .panels-3wFtMD {									/* account/voice		container							*/
	background-color: rgba(var(--transparencycolor), calc(var(--guildchanneltransparency) / 1.5));
}
#app-mount .container-ZMc96U.themed-Hp1KC_ {				/* channelheader		container							*/
	background-color: rgba(var(--transparencycolor), var(--guildchanneltransparency));
}
#app-mount .chatHeaderBar-qygUNT {							/* channelheader		sub header							*/
	background-color: rgba(var(--transparencycolor), var(--guildchanneltransparency));
}
#app-mount .membersWrap-3NUR2t {							/* members				container							*/
	background-color: rgba(var(--transparencycolor), var(--memberlisttransparency));
}
#app-mount .tabBar-fg4VK9 {									/* members				tabbar								*/
	background-color: rgba(var(--transparencycolor), var(--memberlisttransparency));
}
#app-mount .nowPlayingColumn-1eCBCN {						/* peoples				now playing							*/
	background-color: rgba(var(--transparencycolor), var(--memberlisttransparency));
}

#app-mount .image-35kDIs {									/* app					errorscreen image					*/
	background-image: url(https://discord.com/assets/e9baf4b505eb54129f832556ea16538e.svg);
	opacity: 0.6;
}


/* ~~~~		2.		BACKGROUND						~~~~ */

body::before,
body::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: -1;
}
body::before {
	background: var(--background) var(--backgroundposition)/var(--backgroundsize);
}
body::after {
	backdrop-filter: blur(var(--backgroundblur));
}
.layer-86YKbF {
	z-index: 1000;
}
.container-2RRFHK::before,
.layer-86YKbF ~ .layer-86YKbF::before,
.root-2zfUH6::before,
.container-2RRFHK::after,
.layer-86YKbF ~ .layer-86YKbF::after,
.root-2zfUH6::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: -1;
}
.container-2RRFHK::before,
.layer-86YKbF ~ .layer-86YKbF::before,
.root-2zfUH6::before {
	background: var(--background) var(--backgroundposition)/var(--backgroundsize);
	background-attachment: fixed;
}
.container-2RRFHK::after,
.layer-86YKbF ~ .layer-86YKbF::after,
.root-2zfUH6::after {
	background-color: rgba(var(--transparencycolor), var(--transparencyalpha));
	backdrop-filter: blur(var(--backgroundblur));
}
.uploadArea-2Nu_Vc,
.backdrop-1BR_bn,
.backdrop-2ByYRN {
	background: transparent !important;
	opacity: 1 !important;
	animation: none !important;
}
.uploadArea-2Nu_Vc::before,
.backdrop-1BR_bn::before,
.backdrop-2ByYRN::before,
.uploadArea-2Nu_Vc::after,
.backdrop-1BR_bn::after,
.backdrop-2ByYRN::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: -2;
}
.uploadArea-2Nu_Vc::before,
.backdrop-1BR_bn::before,
.backdrop-2ByYRN::before {
	background: var(--backdrop) var(--backdropposition)/var(--backdropsize);
	background-attachment: fixed;
}
.uploadArea-2Nu_Vc::after,
.backdrop-1BR_bn::after,
.backdrop-2ByYRN::after {
	backdrop-filter: blur(var(--backdropblur));
}
.withLayer-2VVmpp {
	z-index: -1;
}
/* ~~~~		6.		CHAT							~~~~ */

.chat-2ZfjoI.threadSidebarOpen-1LSXvU {						/* chat					threadsidebar open					*/
	border-radius: 0;
}
#app-mount .background-fkKrXt .container-2Hi7Km,
#app-mount .background-fkKrXt .container-xwOzwi,
#app-mount .background-fkKrXt .container-3rZ3XA,
#app-mount .background-fkKrXt .icon-2IDTxf,
#app-mount .background-fkKrXt .containerCard-2kwJKN,
#app-mount .background-fkKrXt .containerCard-2kwJKN:hover,
#app-mount .background-fkKrXt .interactiveCard-2iMtdk,
#app-mount .background-fkKrXt .emptyStateContainer-xWOMPJ,
#app-mount .background-fkKrXt .card-3x20HF,
#app-mount .container-3wLKDe .mainCard-3KBsBI,
#app-mount .container-3wLKDe .sidebarCard-1Gn1ch,
#app-mount .container-2IKOsH .channelRow-4X_3fi {
	background-color: var(--background-secondary);
}
@media (max-width: 1300px) {
	.container-xwOzwi,
	.container-3rZ3XA {
		background: none !important;
	}
}
#app-mount .background-fkKrXt .containerCard-2kwJKN {
	border-color: var(--background-secondary);
}
#app-mount .background-fkKrXt .container-3HMTms:hover,
#app-mount .container-3wLKDe .pill-3pRQlO,
#app-mount .container-2IKOsH .channelRow-4X_3fi:hover {
	background: var(--background-tertiary);
}
.contentPreview-3fWiuC {									/* forum list			item								*/
	border-color: rgb(var(--transparencycolor));
}
#app-mount .textContentFooter-2JnNv8 {						/* forum list			item footer							*/
	background: linear-gradient(0deg, rgba(var(--transparencycolor), .5), rgba(var(--transparencycolor), .1));
}
.container-3YcgdM {											
	border-color: var(--background-floating);
}
.divider-AZrXIA {											/* forum				fat divider							*/
	background: var(--background-floating);
}
#app-mount .container-2qVG6q.isOpen-2OXbFs {				/* forum				selected post						*/
	background-color: rgb(var(--accentcolor));
    text-shadow: 1px 1px var(--textshadow);
}
#app-mount .container-2qVG6q.isOpen-2OXbFs .defaultColor-24IHKz,
#app-mount .container-2qVG6q.isOpen-2OXbFs [style*="color: var(--header-secondary)"] {
	color: var(--header-primary) !important;
}
#app-mount .container-2qVG6q.isOpen-2OXbFs .author-22H8ZU a,
#app-mount .container-2qVG6q.isOpen-2OXbFs [style*="color: var(--text-muted)"] {
	color: var(--header-secondary) !important;
}

/* ----		6.1.	CHANNELHEADER					---- */

.container-ZMc96U.themed-Hp1KC_ {							/* header				themedcontainer						*/
	box-shadow: 0 1px 0 rgba(var(--transparencycolor), .2), 0 1.5px 0 rgba(var(--transparencycolor), .05), 0 2px 0 rgba(var(--transparencycolor), .05);
}

.input-1nrc5P:focus {										/* header				dmchannelinput						*/
	background-color: rgba(var(--transparencycolor), .2);
}
.input-1nrc5P:focus,
.outer-1KB3kA:hover .input-1nrc5P {
	box-shadow: inset 0 0 0 1px rgba(var(--transparencycolor), .2);
}
.children-3xh0VB::after {									/* header				topicgradient						*/
	display: none;
}

.akaBadge-3i7V3p {											/* header				aka									*/
	background-color: rgba(var(--transparencycolor), .3);
}

.badge-2qGa_k::after {										/* header				iconbadge red dot					*/
	border: none;
}

.searchBar-zdmu7v {											/* header				searchbar							*/
	background-color: rgba(var(--transparencycolor), .3);
}
#app-mount .public-DraftEditorPlaceholder-root {
	color: rgb(var(--textdarker));
}
#app-mount .public-DraftEditorPlaceholder-hasFocus {
	color: var(--header-secondary);
}
#app-mount .searchFilter-2UfsDk,
#app-mount .searchAnswer-23w-CH {
	background-color: rgb(var(--accentcolor));
	text-shadow: 1px 1px var(--textshadow);
}

/* ----		6.2.	MESSAGES						---- */

.clickableAction-2q3H52:hover .action-3oG-si,				/* guidancechannel		options								*/
.row--LCpto:hover {
	background-color: rgba(var(--transparencycolor), .4);
}

.emptyChannelIcon-1YdEz2 {									/* welcomemessage		empty channelicon					*/
	background-color: rgba(var(--transparencycolor), .4);
}
.card-1yV8cG {												/* welcomemessage		first steps card					*/
	background-color: rgba(var(--transparencycolor), .3);
}
.card-1yV8cG:hover {
	background-color: rgba(var(--transparencycolor), .5);
}

.button-1kija8:hover {										/* welcomemessage		edit channel						*/
	background-color: rgb(var(--accentcolor));
	color: var(--interactive-active);
	text-shadow: 1px 1px var(--textshadow);
}

#app-mount .role-23oyrw {									/* welcomemessage		role								*/
	background: transparent;
	border-color: rgba(var(--textbrighter), .6);
	border-radius: 5px;
	height: 22px;
	padding: 0 5px;
	position: relative;
}
#app-mount .role-23oyrw[style*="border-color: rgba(185, 187, 190, .6)"] {
	border-color: rgba(var(--textbrighter), .6) !important;
}
#app-mount .role-23oyrw .roleColor-3cA0as {					/* welcomemessage		rolecircle							*/
	position: absolute;
	background-color: var(--text-normal);
	border-radius: 3px;
	opacity: 0.5;
	height: 100%;
	width: 100%;
	margin: 0;
	left: 0;
	top: 0;
	z-index: -1;
}
#app-mount .role-23oyrw:hover .roleColor-3cA0as {
	opacity: 0.8;
}
#app-mount .role-23oyrw .roleColor-3cA0as[style*="background-color: rgb(185, 187, 190)"] {
	background-color: var(--text-normal) !important;
}

.divider-2rZFJK.hasContent-31hcsn {							/* divider				hascontent							*/
	border-width: calc(1px * (1 - var(--usechatbubbles)));
}
.divider-2rZFJK.hasContent-31hcsn::before {
	content: "";
	position: absolute;
	top: -0.6rem;
	bottom: -0.6rem;
	right: -0.2rem;
	left: 0;
	background: rgba(var(--transparencycolor), calc(var(--messagetransparency) * 0.5));
	border-radius: 5px;
	pointer-events: none;
	z-index: -1;
}
.content-3spvdd {											/* divider				content								*/
	position: absolute;
	background-color: transparent;
	padding: 2px 8px;
	width: unset;
}
.content-3spvdd::before,
.content-3spvdd::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	pointer-events: none;
	opacity: calc(1 - var(--usechatbubbles));
	z-index: -1;
}
.content-3spvdd::before {
	background: var(--background) var(--backgroundposition)/var(--backgroundsize);
	background-attachment: fixed;
}
.content-3spvdd::after {
	background-color: rgba(var(--transparencycolor), var(--transparencyalpha));
	backdrop-filter: blur(var(--backgroundblur));
}
.unreadPill-3nEWYM {										/* divider				unreadpill							*/
	border-radius: calc(4px * var(--usechatbubbles)) 4px 4px calc(4px * var(--usechatbubbles));
	padding-left: calc(4px * var(--usechatbubbles) + 1px * (1 - var(--usechatbubbles)));
}
.unreadPillCap-2-iI4h {										/* divider				unreadpillcap						*/
	opacity: calc(1 - var(--usechatbubbles));
}

.hasMore-2mIMwb:hover {
	background-color: rgba(var(--transparencycolor), .2);
}
.jumpToPresentBar-1cEnH0 {									/* bar					jumptopresent						*/
	background-color: transparent;
	overflow: hidden;
	opacity: 1;
}
.jumpToPresentBar-1cEnH0::before,
.jumpToPresentBar-1cEnH0::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	pointer-events: none;
	z-index: -1;
}
.jumpToPresentBar-1cEnH0::before {
	background: var(--background) var(--backgroundposition)/var(--backgroundsize);
	background-attachment: fixed;
}
.jumpToPresentBar-1cEnH0::after {
	background-color: rgba(var(--transparencycolor), calc(var(--transparencyalpha) + 0.2));
	backdrop-filter: blur(var(--backgroundblur));
}

/* ====		6.2.1.	MESSAGE							==== */

#app-mount .message-G6O-Wv {								/* message				confirm modal						*/
	background-color: rgba(var(--transparencycolor), .2);
	box-shadow: none;
}
.message-2CShn3,											/* message				container							*/
.messagesWrapper-RpOMA3 .wrapper-30-Nkg,					/* message				upload placeholder					*/
.card-3x20HF .wrapper-30-Nkg,								/* message				home								*/
.wrapper-15CKyy,											/* message				loading 							*/
.message-3g3FYR,											/* message				mention popout						*/
.message-372Ods,											/* message				inbox popout						*/
.message-G6O-Wv .wrapper-30-Nkg,							/* message				settings preview					*/
.messageGroupCozy-3v_RqN,									/* message				pin popout							*/
.message-24k8JL .wrapper-30-Nkg {							/* message				searchpage							*/
	background-color: rgba(var(--transparencycolor), var(--messagetransparency)) !important;
	contain: unset;
}
.message-24k8JL .wrapper-30-Nkg {							/* message				searchpage							*/
	background-color: rgba(var(--transparencycolor), calc(var(--messagetransparency) * 0.8)) !important;
}
.message-2CShn3.selected-2LX7Jy,
.mouse-mode .message-2CShn3:hover,
.mouse-mode.full-motion .message-2CShn3:hover,
.mouse-mode .wrapper-15CKyy:hover,
.mouse-mode.full-motion .wrapper-15CKyy:hover {
	background-color: rgba(var(--transparencycolor), calc(var(--messagetransparency) * 1.2 * var(--usechatbubbles) + 0.3 * (1 - var(--usechatbubbles)))) !important;
}
.backgroundFlash-1X5jVs .message-2CShn3 {					/* message				jump flash							*/
	position: relative;
}
.backgroundFlash-1X5jVs .message-2CShn3::before {
	content: "";
	position: absolute;
	background: var(--message-background-flash, transparent);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	pointer-events: none;
}
.backgroundFlash-1X5jVs .cozyMessage-1DWF9U::before {
	left: calc(-80px * var(--usechatbubbles));
}
.message-2CShn3.ephemeral-2nDdnn,							/* message				localbot							*/
.message-2CShn3.replying-eZ7p5z {							/* message				replying							*/
	background-image: linear-gradient(rgba(var(--accentcolor), calc(0.2 * (1 - var(--usechatbubbles)))), rgba(var(--accentcolor), calc(0.2 * (1 - var(--usechatbubbles)))));
}
.message-2CShn3.mentioned-Tre-dv {							/* message				mentioned							*/
	background-image: linear-gradient(rgba(var(--mentioncolor), calc(0.2 * (1 - var(--usechatbubbles)))), rgba(var(--accentcolor), calc(0.2 * (1 - var(--usechatbubbles)))));
}
.message-2CShn3.ephemeral-2nDdnn::before,
.message-2CShn3.replying-eZ7p5z::before {
	background-color: rgb(var(--accentcolor));
}
.message-2CShn3.mentioned-Tre-dv::before {
	background-color: rgb(var(--mentioncolor));
}
.message-2CShn3.mentioned-Tre-dv .contents-2MsGLg .messageContent-2t3eCI {
	border-radius: 3px;
	background-color: rgba(var(--mentioncolor), calc(0.3 * var(--usechatbubbles)));
}
#app-mount .avatar-2e8lTP,									/* message				container avatar					*/
#app-mount .avatar-l9Txm5 {									/* message				loading avatar						*/
	position: absolute;
	top: 2px;
	left: calc(-70px * var(--usechatbubbles) + 16px);
}
#app-mount .messageItemBody-2EpHAK.hasReply-2Cr4KE .avatar-2e8lTP,
#app-mount .repliedMessage-3Z6XBG ~ * .avatar-2e8lTP {
	top: 24px;
}
#app-mount .container-3FojY8 .avatar-2e8lTP {
	left: calc(-10px * var(--usechatbubbles));
}
#app-mount .avatarDecoration-34OC0G {						/* message				avatar decoration					*/
	position: absolute;
	top: 2px;
	left: calc(-70px * var(--usechatbubbles) + 16px - (6.6666666px * var(--decoration-to-avatar-ratio)/2));
}
#app-mount .messageItemBody-2EpHAK.hasReply-2Cr4KE .avatarDecoration-34OC0G,
#app-mount .repliedMessage-3Z6XBG ~ * .avatarDecoration-34OC0G {
	top: 24px;
}
#app-mount .container-3FojY8 .avatarDecoration-34OC0G {
	left: calc(-10px * var(--usechatbubbles) - (6.6666666px * var(--decoration-to-avatar-ratio)/2));
}

#app-mount .replyBadge-LMm_Ic {								/* message				reply badge							*/
	background-color: rgba(var(--transparencycolor), .5);
}
#app-mount .spine-3OoQS_ {
	width: 0px;
	top: 20px;
	right: calc(1px * (-32 * var(--usechatbubbles) + -25 * (1 - var(--usechatbubbles))));
	left: unset;
	border: none;
}
#app-mount .compact-2Nkcau .spine-3OoQS_ {
	right: 0;
}
#app-mount .repliedMessage-3Z6XBG::before,					/* message				reply spine							*/
#app-mount .repliedMessage-3Z6XBG::after,
#app-mount .spine-3OoQS_::before,							/* message				command spine						*/
#app-mount .spine-3OoQS_::after {
	--avatar-size: 38px;
	--gutter: 16px;
	--spine-width: 2px;
	content: "";
	display: block;
	position: absolute;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	top: 50%;
	right: unset;
	bottom: 0;
	left: calc(-1 * var(--avatar-size) - (6px * var(--usechatbubbles)));
	width: calc(var(--avatar-size) - 4px);
	margin: calc(-1 * var(--spine-width)/2) var(--reply-spacing) calc(.125rem - 4px) calc(-1 * var(--spine-width)/2);
	border-right: 0 solid var(--background-accent);
	border-left: var(--spine-width) solid var(--background-accent);
}
#app-mount .repliedMessage-3Z6XBG::before,
#app-mount .repliedMessage-3Z6XBG::after {
	border-top: var(--spine-width) solid var(--background-accent);
	border-bottom: 0 solid var(--background-accent);
	border-top-left-radius: 6px;
}
#app-mount .spine-3OoQS_::before,
#app-mount .spine-3OoQS_::after {
	border-top: 0 solid var(--background-accent);
	border-bottom: var(--spine-width) solid var(--background-accent);
	border-bottom-left-radius: 6px;
}
#app-mount .compact-2Nkcau .repliedMessage-3Z6XBG::before,
#app-mount .compact-2Nkcau .repliedMessage-3Z6XBG::after,
#app-mount .compact-2Nkcau .spine-3OoQS_::before,
#app-mount .compact-2Nkcau .spine-3OoQS_::after {
	--avatar-size: 20px;
	left: calc(-1 * var(--avatar-size));
}
#app-mount .repliedMessage-3Z6XBG::before,
#app-mount .spine-3OoQS_::before {
	border-color: rgba(var(--textbrighter), calc(0.3 * (1 - var(--usechatbubbles))));
}
#app-mount .repliedMessage-3Z6XBG::after,
#app-mount .spine-3OoQS_::after {
	border-color: rgba(var(--transparencycolor), calc(0.5 * var(--usechatbubbles)));
}
#app-mount .compact-2Nkcau .repliedMessage-3Z6XBG::before,
#app-mount .compact-2Nkcau .spine-3OoQS_::before {
	border-color: rgba(var(--textbrighter), .3);
}
#app-mount .compact-2Nkcau .repliedMessage-3Z6XBG::after,
#app-mount .compact-2Nkcau .spine-3OoQS_::after {
	border-color: transparent;
}

#app-mount .cozy-VmLDNB.hasThread-3h-KJV::before,			/* message				thread spine						*/
#app-mount .cozy-VmLDNB.hasThread-3h-KJV::after,
#app-mount .compact-2Nkcau.hasThread-3h-KJV::after {
	--avatar-size: 38px;
	--gutter: 16px;
	--spine-width: 2px;
	content: "";
	display: block;
	position: absolute;
	top: 2rem;
	bottom: 29px;
	left: calc(var(--avatar-size) * (1 - var(--usechatbubbles)) - var(--avatar-size) * var(--usechatbubbles));
	width: calc(var(--avatar-size) - 10px + (4px * var(--usechatbubbles)));
	margin: calc(-1 * var(--spine-width)/2) var(--reply-spacing) calc(.125rem - 4px) calc(-1 * var(--spine-width)/2);
	border-top: 0 solid var(--background-accent);
	border-right: 0 solid var(--background-accent);
	border-bottom: var(--spine-width) solid var(--background-accent);
	border-left: var(--spine-width) solid var(--background-accent);
	border-bottom-left-radius: 8px;
}
#app-mount .cozy-VmLDNB.hasThread-3h-KJV::before {
	border-color: rgba(var(--textbrighter), calc(0.3 * (1 - var(--usechatbubbles))));
}
#app-mount .cozy-VmLDNB.hasThread-3h-KJV::after {
	border-color: rgba(var(--transparencycolor), calc(0.5 * var(--usechatbubbles)));
}
#app-mount .message-2CShn3.mentioned-Tre-dv.hasThread-3h-KJV::before {
	background-color: transparent;
}
#app-mount .compact-2Nkcau.hasThread-3h-KJV::after {
	left: calc(var(--avatar-size) + 11px);
	width: calc(var(--avatar-size) - 13px);
	border-color: rgba(var(--textbrighter), .3);
}
#app-mount .compact-2Nkcau.hasThread-3h-KJV .contents-2MsGLg::before {
	border-color: rgba(var(--textbrighter), .3);
}

.spine-2vt3pM {
	border-color: rgba(var(--textbrighter), .3);
}
.hasThread-3h-KJV .spine-2vt3pM {
	display: none;
}

.cozy-25GiHp.content-1UQFwj {								/* message				command content						*/
	background-color: rgba(var(--transparencycolor), .3);
}

.cozy-VmLDNB .header-2jRmjb::after,							/* message				container header					*/
.cozy-3hKWhq .header-35u4WP::after {						/* message				loading header						*/
	content: "";
	position: absolute;
	top: 12px;
	left: -32px;
	border: 10px solid transparent;
	border-right: 12px solid rgba(var(--transparencycolor), var(--messagetransparency));
}
.cozy-VmLDNB .container-3FojY8 .header-2jRmjb::after {
	left: 40px;
}
.messageGroupWrapper-1jf_7C .messageGroupCozy-3v_RqN .header-2jRmjb::after {
	top: 2px;
}
.message-24k8JL .wrapper-30-Nkg .header-2jRmjb::after {
	border-right-color: rgba(var(--transparencycolor), calc(var(--messagetransparency) * 0.8));
}
.cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH {
	left: calc(-78px * var(--usechatbubbles));
}
.cozy-VmLDNB .iconContainer-2rPbqG {
	background-color: rgba(var(--transparencycolor), var(--messagetransparency));
	border-radius: 50%;
	left: calc(1px * (-58 * var(--usechatbubbles) + -48 * (1 - var(--usechatbubbles))));
	height: 25px !important;
	width: 25px !important;
	margin: unset;
	margin-right: 1rem;
	padding: 0;
}
.cozy-VmLDNB .blockedSystemMessage-3FmE9n .iconContainer-2rPbqG {
	background-color: transparent;
}
.cozy-VmLDNB .iconContainer-2rPbqG::after {
	content: "";
	position: absolute;
	top: 2px;
	left: 26px;
	border: 10px solid transparent;
	border-right: 12px solid rgba(var(--transparencycolor), var(--messagetransparency));
}
.cozy-VmLDNB .blockedSystemMessage-3FmE9n .iconContainer-2rPbqG::after {
	display: none;
}
.selected-2LX7Jy.message-2CShn3.cozy-VmLDNB .header-2jRmjb::after, 
.mouse-mode .message-2CShn3.cozy-VmLDNB:hover .header-2jRmjb::after,
.mouse-mode.full-motion .message-2CShn3.cozy-VmLDNB:hover .header-2jRmjb::after,
.mouse-mode .wrapper-15CKyy.cozy-3hKWhq:hover .header-35u4WP::after,
.mouse-mode.full-motion .wrapper-15CKyy.cozy-3hKWhq:hover .header-35u4WP::after,
.selected-2LX7Jy.message-2CShn3.cozy-VmLDNB .iconContainer-2rPbqG::after,
.mouse-mode .message-2CShn3.cozy-VmLDNB:hover .iconContainer-2rPbqG::after,
.mouse-mode.full-motion .message-2CShn3.cozy-VmLDNB:hover .iconContainer-2rPbqG::after {
	border-right-color: rgba(var(--transparencycolor), calc(var(--messagetransparency) * 1.2));
}
#app-mount .mentioned-Tre-dv.cozy-VmLDNB .header-2jRmjb::after {
	border-right-color: rgba(var(--mentioncolor), calc(var(--messagetransparency) * 100000000000000000000000000000));
}
#app-mount .ephemeral-2nDdnn.cozy-VmLDNB .header-2jRmjb::after,
#app-mount .replying-eZ7p5z.cozy-VmLDNB .header-2jRmjb::after {
	border-right-color: rgba(var(--accentcolor), calc(var(--messagetransparency) * 100000000000000000000000000000));
}
.message-3g3FYR,
.message-372Ods,
.zalgo-26OfGz .messageContent-2t3eCI,
.zalgo-26OfGz.cozy-VmLDNB .header-2jRmjb,
.wrapper-15CKyy,
.cozy-3hKWhq .header-35u4WP {
	overflow: visible;
}
.container-3FojY8 {
	padding: 0;
	overflow: visible;
}
#app-mount .cozyMessage-1DWF9U,								/* message				container cozy						*/
#app-mount .messagesWrapper-RpOMA3 .cozy-VmLDNB,			/* message				upload placeholder cozy				*/
#app-mount .card-3x20HF .cozy-VmLDNB,						/* message				home cozy							*/
#app-mount .cozy-3hKWhq {									/* message				loading cozy						*/
	margin-left: calc(80px * var(--usechatbubbles));
	padding-left: calc(1px * (10 * var(--usechatbubbles) + 72 * (1 - var(--usechatbubbles))));
}
#app-mount .wrapper-30-Nkg[data-list-item-id*="Uploader"] {
	margin-top: 1rem;
}
#app-mount .compact-QWkw9- {								/* message				loading compact						*/
	margin-top: .0625rem;
}
#app-mount .cozy-VmLDNB .header-2jRmjb,
#app-mount .cozy-VmLDNB .messageContent-2t3eCI,
#app-mount .cozy-3hKWhq .header-35u4WP {
	margin-left: 0;
	padding-left: 0;
}
.messageContainer-3VTXBC .wrapper-30-Nkg,
.messages-23can0 .wrapper-30-Nkg,
.message-G6O-Wv .wrapper-30-Nkg,
.messageGroupWrapper-1jf_7C .messageGroupCozy-3v_RqN,
.message-24k8JL .wrapper-30-Nkg {
	border-radius: 5px;
	margin-left: calc(60px * var(--usechatbubbles));
	padding-left: calc(1px * (10 * var(--usechatbubbles) + 72 * (1 - var(--usechatbubbles))));
}
.messages-23can0 .wrapper-30-Nkg {
	border-radius: 0;
}

															/* message				home message						*/
.interactiveCard-2iMtdk.selected-sszUNx, .interactiveCard-2iMtdk:active,
.interactiveCard-2iMtdk:hover {
	border-color: var(--background-secondary);
}
.feedItemHeader-txJq98 {
	border-color: var(--background-primary);
}
.interactiveCard-2iMtdk.selected-sszUNx, .interactiveCard-2iMtdk:active .feedItemHeader-txJq98,
.interactiveCard-2iMtdk:hover .feedItemHeader-txJq98 {
	border-color: var(--background-secondary);
}

.avatar-l9Txm5 {											/* message				loading avatar						*/
	background: rgba(var(--transparencycolor), .4);
	opacity: 1 !important;
}
.attachment-16cAbS,											/* message				loading attachment					*/
.blob-1uHjdp {												/* message				loading blob						*/
	background: rgb(var(--accentcolor));
}

.expanded-3lghlw {											/* message				expanded blocked					*/
	background-color: rgba(var(--transparencycolor), .2);
	border-radius: 5px 5px 0 5px;
	margin-bottom: .5625rem;
}

.reaction-2A2y9y {											/* message				reaction							*/
	background-color: rgba(var(--transparencycolor), .3);
	border: none;
}
.reaction-2A2y9y:hover {
	background-color: rgba(var(--transparencycolor), .4);
}
.reaction-2A2y9y.reactionMe-3I9gFK {
	background-color: rgba(var(--accentcolor), .8);
}
.reaction-2A2y9y.reactionMe-3I9gFK:hover {
	background-color: rgb(var(--accentcolor));
}
.reaction-2A2y9y.reactionMe-3I9gFK .reactionCount-1zkLcN {
	color: #FFF;
	text-shadow: 1px 1px var(--textshadow);
}
.reaction-2A2y9y:hover {
	background-color: rgba(var(--transparencycolor), .4);
}

.wrapper-2vIMkT {											/* message				buttons								*/
	position: relative;
	background: transparent;
}
.wrapper-2vIMkT::before,
.wrapper-2vIMkT::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: unset;
	height: unset;
	border-radius: 4px;
	pointer-events: none;
	z-index: -1;
}
.wrapper-2vIMkT::before {
	background: var(--backgound) var(--backgoundposition)/var(--backgroundsize);
	background-attachment: fixed;
}
.wrapper-2vIMkT::after {
	background-color: rgba(var(--transparencycolor), calc(var(--transparencyalpha) + 0.25));
	backdrop-filter: blur(var(--backgroundblur));
}
.button-3bklZh:hover {										/* message				button								*/
	background-color: rgba(var(--transparencycolor), .2);
}
.button-3bklZh.selected-69H4ua {
	background-color: rgba(var(--transparencycolor), .4);
}

.bumpBox-1Pp4td {											/* messageelement		publish box							*/
	background-color: rgba(var(--transparencycolor), .4);
}

.markup-eYLPri code {										/* messageelement		code								*/
	background-color: transparent;
	border-color: transparent;
}
.markup-eYLPri pre {										/* messageelement		pre									*/
	background-color: rgba(var(--transparencycolor), .4);
	border-color: rgba(var(--transparencycolor), .1);
}
.markup-eYLPri .inline,										/* messageelement		inline								*/
.after_inlineCode-WydEur,
.before_inlineCode-xn8Llh,
.inlineCode-2auMQi {
	background-color: rgba(var(--transparencycolor), .4);
}

.textContainer-36wgKK {										/* messageelement 		plain file text						*/
	background-color: rgba(var(--transparencycolor), .4);
	border-color: rgba(var(--transparencycolor), .1);
}
.footer-GXWBBp {											/* messageelement 		plain file footer					*/
	background-color: rgba(var(--transparencycolor), .4);
	border-color: rgba(var(--transparencycolor), .1);
}
.languageSelector-2e1IuO {									/* messageelement 		plain file popout					*/
	background-color: transparent;
	border: 1px solid rgba(var(--transparencycolor), .3);
	border-radius: 5px;
	box-shadow: 0px 1px 5px 0px rgba(var(--transparencycolor), .3);
	overflow: hidden;
}
.languageSelector-2e1IuO::before,
.languageSelector-2e1IuO::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: unset;
	height: unset;
	border-radius: 5px;
	pointer-events: none;
	z-index: -1;
}
.languageSelector-2e1IuO::before {
	background: var(--popout) var(--popoutposition)/var(--popoutsize);
	background-attachment: fixed;
}
.languageSelector-2e1IuO::after {
	background-color: rgba(var(--transparencycolor), calc(var(--transparencyalpha) + 0.25));
	backdrop-filter: blur(var(--popoutblur));
}

#app-mount .spoilerText-2G40u0 {							/* messageelement		spoiler								*/
	background-color: rgba(var(--transparencycolor), .2);
}
#app-mount .spoilerText-2G40u0.hidden-2lQZ5q {				/* messageelement		hiddenspoiler						*/
	background-color: rgba(var(--transparencycolor), .6);
}

.icon-JRJzJz[style*="/assets/5da4cdab01d4d89c593c48c62ae0d937.svg"] {		/* systemmessage			pinicon									*/
	-webkit-mask: url(https://discord.com/assets/5da4cdab01d4d89c593c48c62ae0d937.svg) center/cover no-repeat;
	background: var(--channels-default) !important;
}
.icon-JRJzJz[style*="/assets/d80d1fdc43a3c42134a31a39581160ac.svg"] {		/* systemmessage			missedcall								*/
	-webkit-mask: url(https://discord.com/assets/d80d1fdc43a3c42134a31a39581160ac.svg) center/cover no-repeat;
	background: var(--channels-default) !important;
}
.icon-JRJzJz[style*="/assets/b8029fe196b8f1382e90bbe81dab50dc.svg"] {		/* systemmessage			joincallicon							*/
	-webkit-mask: url(https://discord.com/assets/b8029fe196b8f1382e90bbe81dab50dc.svg) center/cover no-repeat;
	background: rgb(var(--accentcolor)) !important;
}
.icon-JRJzJz[style*="/assets/c30220457097b064286a8759a9b6c4af.svg"] {		/* systemmessage			recievecallicon							*/
	-webkit-mask: url(https://discord.com/assets/c30220457097b064286a8759a9b6c4af.svg) center/cover no-repeat;
	background: rgb(var(--accentcolor)) !important;
}

/* ====		6.2.2.	EMBEDS							==== */

#app-mount .embedFull-1HGV2S {								/* embed				wrapper								*/
	background-color: rgba(var(--transparencycolor), .3);
	border-left-color: rgb(var(--textdarkest));
}

#app-mount .attachment-1PZZB2 {								/* attachment			container							*/
	background-color: rgba(var(--transparencycolor), .3);
	border-color: rgba(var(--transparencycolor), .1);
	margin-left: 18px;
}
#app-mount .message-2CShn3 .attachment-1PZZB2 {
	margin-left: 0;
}
#app-mount .twitchSectionPlayButton-2RamGG {
	object-position: -999999px -999999px;
	background: rgba(var(--transparencycolor), .4) url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M12.3333 10.002V22.002L22.3333 16.002L12.3333 10.002Z" fill="rgb(185,187,190)"/></svg>');
	border-radius: 50%;
}
#app-mount .twitchSectionPlayButton-2RamGG:hover {
	background-color: rgba(var(--transparencycolor), .8);
}

#app-mount .wrapper-1FP9YQ {								/* attachment			videowrapper						*/
	background-color: rgba(var(--transparencycolor), .3);
}
/* ----		6.3.	TEXTAREA						---- */

.form-3gdLxP {
	padding-top: 0;
	margin-top: 0;
}
.form-3gdLxP {												/* textarea				form								*/
	background: rgba(var(--transparencycolor), var(--chatinputtransparency));
	margin-top: 0;
	padding-top: 8px;
	border-top-right-radius: calc(8px * (1 - (var(--memberlisttransparency) / (var(--memberlisttransparency) + 0.00000000000000000000001))));
	border-top-left-radius: calc(8px * (1 - (var(--guildchanneltransparency) / (var(--guildchanneltransparency) + 0.00000000000000000000001))));
}
.threadSidebarOpen-1LSXvU .form-3gdLxP {
	border-top-right-radius: 8px;
}
.form-3gdLxP::before {
	display: none;
}

.channelTextArea-1FufC0 {									/* textarea				channeltextarea						*/
	background-color: transparent;
	border-top-color: var(--background-modifier-accent);
}

.container-A2jo65 {											/* textarea				reply								*/
	background: rgba(var(--transparencycolor), .3);
	border: none;
	border-bottom: 1px solid var(--background-modifier-accent);
}

.scrollableContainer-15eg7h {								/* textarea				container							*/
	background-color: rgba(var(--transparencycolor), .3);
}

.sprite-2lxwfc {											/* textarea				emojibutton							*/
	transform: none !important;
}

.wrapper-2SplAX {											/* textarea				placeholder							*/
	background-color: rgba(var(--transparencycolor), .3);
	color: var(--text-normal);
}

.toolbar-37BrJ5 {											/* textarea				formattoolbar						*/
	background-color: rgb(var(--accentcolor));
}
.toolbar-37BrJ5::before {
	border-top-color: rgb(var(--accentcolor));
}
.divider-3NY7PF {											/* textarea				formattoolbar divider				*/
	border-left-color: hsla(0, 0%,100%, .1);
}
.active-136ioF,												/* textarea				buttonactive						*/
.hover-3OQb9Y:hover {										/* textarea				buttonhover							*/
	background-color: hsla(0, 0%, 100%, .2);
}
.icon-3g7qdA {												/* textarea				buttonicon							*/
	color: #fff;
	opacity: .7;
}
.active-136ioF .icon-3g7qdA,
.hover-3OQb9Y:hover .icon-3g7qdA {
	color: #fff;
	opacity: 1;
}

#app-mount .pill-1HLSrc {									/* textarea				command query pill					*/
	background-color: rgba(var(--transparencycolor), .5);
	border-radius: 5px;
}

/* ----		6.4.	AUTOCOMPLETEMENU				---- */

#app-mount .autocomplete-3NRXG8 {							/* autocomplete			container							*/
	background-color: transparent;
	overflow: hidden;
}
#app-mount .autocomplete-3NRXG8::before,
#app-mount .autocomplete-3NRXG8::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: unset;
	height: unset;
	border-radius: 5px;
	pointer-events: none;
	z-index: -1;
}
#app-mount .autocomplete-3NRXG8::before {
	background: var(--popout) var(--popoutposition)/var(--popoutsize);
	background-attachment: fixed;
}
#app-mount .autocomplete-3NRXG8::after {
	background-color: rgba(var(--transparencycolor), calc(var(--transparencyalpha) + 0.25));
	backdrop-filter: blur(var(--popoutblur));
}
.theme-brand .autocomplete-3NRXG8 {
	background: rgb(var(--accentcolor)) linear-gradient(rgba(var(--transparencycolor), .2), rgba(var(--transparencycolor), .2)) !important;
}
.theme-brand .autocomplete-3NRXG8::before,
.theme-brand .autocomplete-3NRXG8::after {
	display: none;
}
#app-mount .bar-AokMp3 {									/* autocomplete			command info						*/
	background-color: transparent;
}
#app-mount .container-23gRWx::after {
	box-shadow: inset 0 -7px 12px -7px rgba(var(--transparencycolor), .3);
}
#app-mount .header-JHwfVI {									/* autocomplete			header								*/
	box-shadow: 0 1px 0 0 rgba(var(--transparencycolor), .2), 0 1px 2px 0 rgba(var(--transparencycolor), .2);
}
#app-mount .selected-3H3-RC {								/* autocomplete			rowselected							*/
	background-color: rgba(var(--transparencycolor), .3);
}
#app-mount .option-Tt7anD {									/* autocomplete			option								*/
	background-color: rgba(var(--transparencycolor), .5);
}

#app-mount .wrapper-3z7DuG {								/* autocomplete			categories							*/
	background-color: transparent;
}
#app-mount .selected-3B2w1z,								/* autocomplete			category selected					*/
#app-mount .selected-3B2w1z:hover {
	background-color: rgb(var(--accentcolor));
}
#app-mount .selected-3B2w1z svg {
	filter: drop-shadow(1px 1px var(--textshadow));
}

#app-mount .searchSuggestion-2Dgyvo:hover {					/* gifpicker			suggestions							*/
	text-shadow: 1px 1px var(--textshadow);
}

#app-mount .placeholder-T1Tuu8 {							/* gifpicker			result placeholder					*/
	background-color: rgba(var(--transparencycolor), .3);
}

/* ----		6.5.	MEMBERLIST						---- */

.member-48YF_l {											/* member												*/
	background: transparent;
}
.avatar-b5OQ1N::before {									/* emptyavatar												*/
	background-color: rgba(var(--transparencycolor), .3);
}
.memberGroupsPlaceholder-9tqX9V,							/* loadingplaceholders										*/
.placeholderAvatar-1qAcRZ,
.placeholderUsername-3iQi_D {
	background-color: rgba(var(--transparencycolor), .4);
}

/* ----		6.6.	SEARCHPAGE						---- */

.searchResultsWrap-5RVOkx {									/* searchpage			container							*/
	background-color: transparent;
}
.searchHeader-1r_ZSh,										/* searchpage			header								*/
.searchHeader-1r_ZSh ~ .container-1-h9mY {					/* searchpage			pagination (BSP)					*/
	background-color: rgba(var(--transparencycolor), calc(var(--guildchanneltransparency) * 0.8));
	border-radius: 0 0 0 8px;
}
#app-mount .tab-2j5AEF.selected-2LAck8 {					/* searchpage			selected tab						*/
	background-color: rgb(var(--accentcolor));
	text-shadow: 1px 1px var(--textshadow);
}
.channelName-3w2Y3c {										/* searchpage			channelname							*/
	background-color: transparent;
}
.searchResult-O9NDji {										/* searchpage			searchresult						*/
	background-color: rgba(var(--transparencycolor), .2);
}
.button-cfOvv- {											/* searchpage			jumpbutton							*/ 
	background-color: rgba(var(--transparencycolor), .4);
}
.button-cfOvv-:hover {
	background-color: rgb(var(--accentcolor));
	text-shadow: 1px 1px var(--textshadow);
}
.pageButton-1GMGeJ:hover {
	background-color: rgba(var(--transparencycolor), .4);
}
.activeButton-LRWFC_ {
	text-shadow: 1px 1px var(--textshadow);
}

/* ----		6.7.	CHAT SIDEBAR							---- */

.container-3XgAHv {											/* chat					sidebar								*/ 
	border-radius: 0;
}
.container-3XgAHv.floating-3M3WeH::before,
.container-3XgAHv.floating-3M3WeH::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: unset;
	height: unset;
	pointer-events: none;
	z-index: -1;
}
.container-3XgAHv.floating-3M3WeH::before {
	background: var(--background) var(--backgroundposition)/var(--backgroundsize);
	background-attachment: fixed;
}
.container-3XgAHv.floating-3M3WeH::after {
	background-color: rgba(var(--transparencycolor), var(--transparencyalpha));
	backdrop-filter: blur(var(--backgroundblur));
}
.chatTarget-3H6mpC.notFloating-cIl-vp ~ .container-3XgAHv {
	overflow: visible;
}
.chatTarget-3H6mpC.notFloating-cIl-vp ~ .container-3XgAHv .container-ZMc96U.themed-Hp1KC_::before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: -8px;
	width: 8px;
	background: inherit;
	box-shadow: inherit;
	pointer-events: none;
}
.chatTarget-3H6mpC.notFloating-cIl-vp ~ .container-3XgAHv .container-ZMc96U.themed-Hp1KC_::after {
	content: "";
	position: absolute;
	display: block;
	top: 10px;
	bottom: 10px;
	left: -3.5px;
	width: 1px;
	background: var(--background-modifier-accent);
	pointer-events: none;
}

/* ----		6.8.	CALL							---- */

#app-mount .wrapper-3X0c60 {
	z-index: 1002;
}
#app-mount .root-1e2tfc {									/* popout				inner								*/
	background-color: transparent;
	border: none;
}
.root-1e2tfc::before,
.root-1e2tfc::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: unset;
	height: unset;
	pointer-events: none;
	z-index: -1;
}
.root-1e2tfc::before {
	background: var(--popout) var(--popoutposition)/var(--popoutsize);
	background-attachment: fixed;
}
.root-1e2tfc::after {
	background-color: rgba(var(--transparencycolor), calc(var(--transparencyalpha) + 0.25));
	backdrop-filter: blur(var(--popoutblur));
}

#app-mount .wrapper-1gVUIN {								/* call					voice wrapper					*/
	background-color: rgba(var(--transparencycolor), calc(var(--guildchanneltransparency) * 0.8));
}
#app-mount .callContainer-HtHELf {							/* call					voice wrapper inner				*/
	background-color: rgba(var(--transparencycolor), calc((1 - (var(--guildchanneltransparency) * 0.8)) * 0.8));
}
#app-mount .root-22AK9z {									/* call					root							*/
	color: var(--header-primary);
}
.videoWrapper-3rtb_V {										/* call					video wrapper					*/
	background-color: rgba(var(--transparencycolor), .3);
}
.video-eAcneW {												/* call					video							*/
	background-color: transparent;
}
.tile-2TcwiO,												/* call					user video voicechannel			*/
.tile-2Dr6M1 {												/* call					user video dm					*/
	background-color: rgba(var(--transparencycolor), .3);
}
.gradientContainer-phMG8d {									/* call					gradientcontainer				*/
	display: none;
}
.participantsButton-1WBdFP {								/* call					participantsbutton				*/
	background-color: rgba(0, 0, 0, .3);
}
.participantsButton-1WBdFP:hover {
	background-color: rgba(0, 0, 0, .6);
}
.centerButton-1IShs7,
.colorable-3rVGna.primaryDark-2UJt1G {
	background-color: rgba(var(--transparencycolor), .5);
}
.centerButton-1IShs7:hover,
.colorable-3rVGna.primaryDark-2UJt1G:hover {
	background-color: rgb(var(--accentcolor));
}
.button-3Vyz67 {
	background-color: rgba(var(--transparencycolor), .4);
}
.button-3Vyz67:hover {
	background-color: rgba(var(--transparencycolor), .6);
}
.controlButton-2PMNom.leaveButton-2YnTyt {
	background-color: rgba(var(--dangercolor)),.5);
}
.controlButton-2PMNom.leaveButton-2YnTyt:hover {
	background-color: rgb(var(--dangercolor));
}
.regionSelectPopout-3sEzVB {
	width: 170px;
}

.container-cH6QoY {											/* call					podium wrapper					*/
	background-color: rgba(var(--transparencycolor), calc(var(--guildchanneltransparency) * 0.8));
}
.callContainer-BGIngG {										/* call					podium inner					*/
	background-color: transparent;
}
.scroller-35tvpe {											/* call					podium scroller					*/
	background-color: transparent;
}
.container-3r7mfc {											/* call					podium info						*/
	background-color: transparent;
}
.rowContainer-jDvyA4 {										/* call					podium row						*/
	background-color: transparent;
}
.participants-3hk3ND {										/* call					podium participants				*/
	background-color: transparent;
}
.tileContainer-Os085F:hover {								/* call					podium participant				*/
	background-color: rgb(var(--accentcolor));
}
.container-lqPArA {											/* call					podium requests					*/
	background-color: rgba(var(--transparencycolor), calc(var(--guildchanneltransparency) * 0.3));
}
.headerContainer-21E-jZ {									/* call					podium requests header			*/
	box-shadow: 0 1px 0 rgba(var(--transparencycolor), .2), 0 1.5px 0 rgba(var(--transparencycolor), .05), 0 2px 0 rgba(var(--transparencycolor), .05);
}

/* ----		6.9.	UNAVAILABLESCREEN				---- */

.category-2haXBH,											/* loadingplaceholders										*/
.channelIcon-1TvDoP,
.channelName-2wrHHc {
	background: rgba(var(--transparencycolor), .4);
}
.splashImage-3x240k {										/* screen				image								*/
	opacity: 0.7;
