
:root {
	--transparencycolor:			0,0,0;
	--transparencyalpha:			0.15;
	--messagetransparency:			0.5;
	--usechatbubbles: 				calc(var(--messagetransparency) / (var(--messagetransparency) + 0.00000000000000000000001));
	--guildchanneltransparency:		0.15;
	--chatinputtransparency:		0.0;
	--memberlisttransparency:		0.0;
	
	--background:					url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/_res/background.jpg);
	--backgroundposition:			center;
	--backgroundsize:				cover;
	--backgroundblur:				unset;
	
	--popout:						var(--background);
	--popoutposition:				var(--backgroundposition);
	--popoutsize:					var(--backgroundsize);
	--popoutblur:					var(--backgroundblur);
	
	--backdrop:						rgba(0,0,0,0.85);
	--backdropposition:				center;
	--backdropsize:					cover;
	--backdropblur:					unset;
}

/* ~~~~		0.		TABLE OF CONTENTS				~~~~ */
/*
	1.	TRANSPARENCY
	2.	BACKGROUND
	3.	TITLEBAR
	4.	GUILDLIST
	5.	CHANNELLIST
		1.	GUILDHEADER
		2.	CHANNELS
		3.	DMCHANNELS
		4.	ACCOUNT/VOICE/GOLIVE
	6.	CHAT
		1.	CHANNELHEADER
		2.	MESSAGES
			1.	MESSAGE
			2.	EMBEDS
			3.	NITROGIFT
			4.	INVITE
		3.	TEXTAREA
		4.	AUTOCOMPLETEMENU
		5.	MEMBERLIST
		6.	SEARCHPAGE
		7.	CHAT SIDEBAR
		8.	CALL
		9.	UNAVAILABLESCREEN
	7.	PEOPLES
	8.	STORE/NITRO
	9.	LIBRARY
	10.	DISCOVERY/UNIHUB
	11.	USERSETTINGS
	12.	GUILDSETTINGS
	13.	MODALS
		1.	USERMODAL
		2.	GUILDADD/CREATION
		3.	REGIONSELECTMODAL
		4.	UPLOADMODAL
		5.	KEYBOARDSHORTCUTSMODAL
		6.	QUICKSWITCHER
		7.	INVITEMODAL/GROUPCREATE
		8.	LOGINSCREEN
		9.	TERMACCEPTMODAL
		10.	DOWNLOADAPPMODAL
		11.	GUILDBOOSTMODAL
		12.	REACTIONSMODAL
		13.	GUILDWELCOMEMODAL
		14.	GUILDRULESMODAL
		15.	GUILDFEEDBACKMODAL
		16.	SCREENSHAREMODAL
		17.	PHONEVERIFICATIONMODAL
		18.	NOTIFICATIONSMODAL
		19.	DISCOVERYENTRYMODAL
		20.	NITROFEATUREMODAL
		21.	DIRECTORYMODAL
		22.	ACTIVITYSHAREMODAL
	14.	POPOUTS
		1.	CONTEXTMENU
		2.	USERPOPOUT
		3.	EMOJIPICKER
		4.	PINS/MENTIONS
		5.	SEARCHPOPOUT
		6.	COLORPICKER
		7.	ADDROLE
		8.	EVERYONEMENTION
		9.	CHANNELFOLLOW
		10.	CHANNELFOLLOWINFO
		11.	EMOJIINFO
		12.	STREAMPREVIEW
		13.	STREAMINFO
		14.	PUBLICGUILDANNOUNCEMENT
		15.	RTCSTATUSPOPOUT
		16.	PHONE-/EMAILVALIDATION
		17.	QUICKSELECTPOPOUT
		18.	WARNINGPOPOUT
		19.	ACTIVETHREADLISTPOPOUT
		20.	ROLEMEMBERSPOPOUT
		21.	FORUMFILTERPOPOUT
		22.	ACTIVITYSHAREPOPOUT
		23.	SOUNDBOARD
		24.	SERVERSURVEY
	15.	GENERAL
		1.	TEXT
		2.	BUTTONS
		3.	INPUTS
		4.	SEARCHBARS
		5.	TAGS
		6.	ICONS
		7.	SCROLLBARS
		8.	NOTIFICATIONBAR
		9.	TOOLTIPS
	16.	BDSUPPORT
	17.	POWERCORDSUPPORT
	18.	PLUGINSUPPORT
		1.	BDFDB
		2.	DATEVIEWER
		3.	MEMBERCOUNT
		4.	LINENUMBERS
		5.	PERMISSIONVIEWER
		6.	DIRECTDOWNLOAD
		7.	BETTERFORMATINGREDUX
		8.	CHANNELHISTORY
		9.	CHANNELTABS
		10.	TYPINGINDICATOR
		11.	BADGESEVERYWHERE
		12.	CHANNELDMS
	19.	UPDATENOTICE
	20.	WATERMARK
*/


/* ~~~~		1.		TRANSPARENCY					~~~~ */

body,														/* body														*/
#app-mount .app-3xd6d0,										/* app					container							*/
#app-mount .app-2CXKsg,										/* app					inner								*/
#app-mount .loading-1yrGTe,									/* app					i18n loading						*/
#app-mount .wrapper-3AZUiP,									/* app					errorscreen							*/
#app-mount .bg-1QIAus,										/* app					background							*/
#app-mount .layer-86YKbF,									/* layer				container							*/
#app-mount .container-2o3qEW,								/* layer				container							*/
#app-mount .container-1NXEtd,								/* channels				inner								*/
#app-mount .privateChannels-oVe7HL,							/* dmchannels												*/
#app-mount .panels-3wFtMD > *,								/* account/voice		inner								*/
#app-mount .chat-2ZfjoI,									/* chat					container							*/
#app-mount .container-3wLKDe,								/* chat					forums								*/
#app-mount .container-2IKOsH,								/* chat					search								*/
#app-mount .container-1um7CU,								/* chat					search inner						*/
#app-mount .container-3XgAHv,								/* chat					thread sidebar						*/
#app-mount .wrapper-3HVHpV,									/* chat					messages loading					*/
#app-mount .noChannel-Z1DQK7,								/* nochannel												*/
#app-mount .members-3WRCEx,									/* members													*/
#app-mount .members-3WRCEx > div,							/* members				content								*/
#app-mount .content-3_h0XI,									/* unavailable												*/
#app-mount .container-2cd8Mz,								/* peoples													*/
#app-mount .container-1oAagU,								/* peoples				activity list						*/
#app-mount .applicationStore-2nk7Lo,						/* nitro													*/
#app-mount .pageWrapper-2PwDoS,								/* guilddiscovery											*/
#app-mount .pageWrapper-1x6lGh,								/* unihub													*/
#app-mount .scrollerBase-1Pkza4,							/* scroller													*/
#app-mount .standardSidebarView-E9Pc3j,						/* settings													*/
#app-mount .contentRegion-3HkfJJ {							/* settings				content								*/
	background: transparent;
}

#app-mount .scroller-hE2gWq {								/* peoples				activity scroller					*/
	border: none;
}

#app-mount .sidebarRegion-1VBisG,							/* settings				sidebar								*/
#app-mount .sidebar-_0OpfR {								/* sidebarlist			sidebar								*/
	background-color: rgba(var(--transparencycolor), calc(0.2 * (var(--transparencyalpha) / (var(--transparencyalpha) + 0.00000000000000000000001))));
}

#app-mount {												/* app-mount												*/
	background-color: rgba(var(--transparencycolor), var(--transparencyalpha));
}
#app-mount .wrapper-1_HaEi {								/* guilds				container							*/
	background-color: rgba(var(--transparencycolor), calc(var(--guildchanneltransparency) * 2));
}
#app-mount .sidebar-1tnWFu {								/* channels				container							*/
	background-color: rgba(var(--transparencycolor), var(--guildchanneltransparency));
}
#app-mount .panels-3wFtMD {									/* account/voice		container							*/
	background-color: rgba(var(--transparencycolor), calc(var(--guildchanneltransparency) / 1.5));
}
#app-mount .container-ZMc96U.themed-Hp1KC_ {				/* channelheader		container							*/
	background-color: rgba(var(--transparencycolor), var(--guildchanneltransparency));
}
#app-mount .chatHeaderBar-qygUNT {							/* channelheader		sub header							*/
	background-color: rgba(var(--transparencycolor), var(--guildchanneltransparency));
}
#app-mount .membersWrap-3NUR2t {							/* members				container							*/
	background-color: rgba(var(--transparencycolor), var(--memberlisttransparency));
}
#app-mount .tabBar-fg4VK9 {									/* members				tabbar								*/
	background-color: rgba(var(--transparencycolor), var(--memberlisttransparency));
}
#app-mount .nowPlayingColumn-1eCBCN {						/* peoples				now playing							*/
	background-color: rgba(var(--transparencycolor), var(--memberlisttransparency));
}

#app-mount .image-35kDIs {									/* app					errorscreen image					*/
	background-image: url(https://discord.com/assets/e9baf4b505eb54129f832556ea16538e.svg);
	opacity: 0.6;
}


/* ~~~~		2.		BACKGROUND						~~~~ */

body::before,
body::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: -1;
}
body::before {
	background: var(--background) var(--backgroundposition)/var(--backgroundsize);
}
body::after {
	backdrop-filter: blur(var(--backgroundblur));
}
.layer-86YKbF {
	z-index: 1000;
}
.container-2RRFHK::before,
.layer-86YKbF ~ .layer-86YKbF::before,
.root-2zfUH6::before,
.container-2RRFHK::after,
.layer-86YKbF ~ .layer-86YKbF::after,
.root-2zfUH6::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: -1;
}
.container-2RRFHK::before,
.layer-86YKbF ~ .layer-86YKbF::before,
.root-2zfUH6::before {
	background: var(--background) var(--backgroundposition)/var(--backgroundsize);
	background-attachment: fixed;
}
.container-2RRFHK::after,
.layer-86YKbF ~ .layer-86YKbF::after,
.root-2zfUH6::after {
	background-color: rgba(var(--transparencycolor), var(--transparencyalpha));
	backdrop-filter: blur(var(--backgroundblur));
}
.uploadArea-2Nu_Vc,
.backdrop-1BR_bn,
.backdrop-2ByYRN {
	background: transparent !important;
	opacity: 1 !important;
	animation: none !important;
}
.uploadArea-2Nu_Vc::before,
.backdrop-1BR_bn::before,
.backdrop-2ByYRN::before,
.uploadArea-2Nu_Vc::after,
.backdrop-1BR_bn::after,
.backdrop-2ByYRN::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: -2;
}
.uploadArea-2Nu_Vc::before,
.backdrop-1BR_bn::before,
.backdrop-2ByYRN::before {
	background: var(--backdrop) var(--backdropposition)/var(--backdropsize);
	background-attachment: fixed;
}
.uploadArea-2Nu_Vc::after,
.backdrop-1BR_bn::after,
.backdrop-2ByYRN::after {
	backdrop-filter: blur(var(--backdropblur));
}
.withLayer-2VVmpp {
	z-index: -1;
}
